<!DOCTYPE html>
<html>

<head>
  <% include ../static/partials/head.ejs %>

  <% include ../static/partials/navbar.ejs %>
  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3">Welcome to Blocipedia</h1>
    <h1>Wikis</h1>

    <% if(!currentUser) { %>
    <p>
        <a href="/users/signin">Sign In</a> or
        <a href="/users/signup">Sign Up</a> to create a Wiki
    </p>
    <% } else if (currentUser && currentUser.role == "premium") { %>
    <a href="/wikis/new" class="btn btn-success">New Public Wiki</a>
    <a href="/wikis/newPrivate" class="btn btn-success">New Private Wiki</a>

    <h2>Private Wikis</h2>
    <% } else if (currentUser && currentUser.role == "standard") { %>
    <a href="/wikis/new" class="btn btn-success">New Public Wiki</a>
    <% } %>

    <ul class="list-group">
        <% wikis.forEach((wiki) => { if(currentUser && currentUser.role
        != "standard" && wiki.private == true && (currentUser.id == wiki.userId || currentUser.id in wikiCollabs[wiki.id])){
        %>
        <li class="list-group-item">
            <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
        </li>
        <% }}) %>
    </ul>

    <h2>Public Wikis</h2>
    <ul class="list-group">
        <% wikis.forEach((wiki) => { if(wiki.private == false){ %>
        <li class="list-group-item">
            <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
        </li>
        <% }}) %>
    </ul>
</main>
</body>
</html>