<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <style>
            body {
              padding-top: 100px;
            }
            h1 {
              padding-top: 100px;
            }
            h2 {
              padding-top: 100px;
            }
            </style>
    <body>
        <% include ../static/partials/navbar.ejs %>

        <main class="container">
            <% include ../static/partials/messages.ejs %>

            <% if (currentUser.role == "standard" || currentUser.role == null) { %>
            <p>
                You have a <strong>Standard Account</strong>. Click the button
                below for access to private wikis.
            </p>
            <a
                href="/users/<%= currentUser.id %>/upgradeForm"
                class="btn btn-primary btn-lg"
                >Upgrade</a
            >
            <% } if (currentUser.role == "premium") { %>
            <p>
                You have a <strong>Premium Account</strong>. Downgrade at any
                time by clicking below.
            </p>
            <a
                href="/users/<%= currentUser.id %>/downgradeForm"
                class="btn btn-primary btn-lg"
                >Downgrade</a
            >
            <% } if (currentUser.role == "admin") { %>
            <p>You are an <strong>Administrator</strong>.</p>
            <% } %>
        </main>
        <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>