<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <!-- Navigation -->
        <% include ../static/partials/navbar.ejs %>

        
        <!-- Page Content -->
        <main class="container">
            
            <!-- Jumbotron Header -->
            <header class="jumbotron my-4">
                <h1 class="display-3">Welcome to Blocipedia</h1>
                <p class="lead">
                    Create and collaborate private and public wikis!
                </p>
              <!-- Messages -->
              <% include ../static/partials/messages.ejs %>
            </header>

            <% include ../static/partials/messages.ejs %>

<div class="row">
  <div class="col-md-8">
    <form method="POST" action="/users/sign_up">
      <div class="form-group">
        <label>Name:</label>
        <input type="text" name="name" placeholder="Enter Name" class="form-control"/>
      </div>
      <div class="form-group">
        <label>Email:</label>
        <input type="email" name="email" placeholder="Enter Email" class="form-control"/>
      </div>
      <div class="form-group">
        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter Password" class="form-control"/>
      </div>
      <div class="form-group">
        <label>Confirm Password:</label>
        <input type="password" name="passwordConfirmation" placeholder="Confirm Password" class="form-control"/>
      </div><br/>
      <input type="submit" value="Sign Up" class="btn btn-primary"/>
    </form>
  </div>
</div>

<!-- Page Features -->
<section class="row text-center">
    <section class="col-lg-4">
        <h4 class="card-title">Create</h4>
        <p class="card-text">
            Create your own wikis!
        </p>
    </section>

    <section class="col-lg-4">
        <h4 class="card-title">Collaborate</h4>
        <p class="card-text">
            Collaborate on wikis!
        </p>
    </section>

    <section class="col-lg-4">
        <h4 class="card-title">Share</h4>
        <p class="card-text">
            Share wikis with others around the world!
        </p>
    </section>
</section>
<!-- /.row -->
</main>
<!-- /.container -->

<% include ../static/partials/baseScripts.ejs %>
</body>
</html>